.exam {
  max-width: 600px;
  margin: auto;
  font-family: Arial, sans-serif;
}

.question {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 8px;
}

.status {
  margin-bottom: 20px;
  font-weight: bold;
}

.status.saving {
  color: orange;
}

.status.synced {
  color: green;
}

.status.waiting {
  color: orange;
}
.connection {
  margin-bottom: 20px;
  font-weight: bold;
}


.connection.online {
  color: green;
}

.connection.offline {
  color: red;
}
.violations {
  color: red;
  font-weight: bold;
}
.flex-container{
  height: fit-content;
  padding: 0;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
}
.option-container{
  display: flex;
  justify-content: space-around;
}
.choice-option {
  display: flex ;
  padding-inline: 20px;
  font-size: 14px;
  cursor: pointer;
  align-items: center;
  width: fit-content;
  min-width: max-content;
}

.choice-option input[type="radio"] {
  width: fit-content;
}
.choice-option:hover {
  background-color: #6a97e4;
  border-radius: 4px;
}